In [4]:
import pandas as pd
import numpy as np

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns

## Import dataset

In [13]:
data_df = pd.read_excel('C:/Users/admin/Downloads/austin_weather.xlsx')

In [14]:
data_df.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2014-01-01,69,54,39,51,42,30,83,68,52,...,30.11,30.01,10,10,8,13,4,22,0,
1,2014-01-02,55,44,33,39,26,19,83,55,26,...,30.37,30.15,10,10,9,21,8,31,0,
2,2014-01-03,58,43,28,37,22,18,75,49,22,...,30.35,30.14,10,10,10,14,4,21,0,
3,2014-01-04,71,57,42,55,48,38,89,68,47,...,29.95,29.81,10,10,8,16,7,28,0,
4,2014-01-05,59,47,34,54,32,15,87,59,31,...,30.08,29.79,10,10,4,21,10,34,0,

## Missing data

In [16]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1308 non-null   datetime64[ns]
 1   TempHighF                   1308 non-null   int64
 2   TempAvgF                    1308 non-null   int64
 3   TempLowF                    1308 non-null   int64
 4   DewPointHighF               1308 non-null   object
 5   DewPointAvgF                1308 non-null   object
 6   DewPointLowF                1308 non-null   object
 7   HumidityHighPercent         1308 non-null   object
 8   HumidityAvgPercent          1308 non-null   object
 9   HumidityLowPercent          1308 non-null   object
 10  SeaLevelPressureHighInches  1308 non-null   object
 11  SeaLevelPressureAvgInches   1308 non-null   object
 12  SeaLevelPressureLowInches   1308 non-null   object
 13  VisibilityHighMiles         1308 non-null   object
 14  VisibilityAvgMiles          1308 non-null   object
 15  VisibilityLowMiles          1308 non-null   object
 16  WindHighMPH                 1308 non-null   object
 17  WindAvgMPH                  1308 non-null   object
 18  WindGustMPH                 1308 non-null   object
 19  PrecipitationSumInches      1308 non-null   object
 20  Events                      1308 non-null   object
dtypes: datetime64[ns](1), int64(3), object(17)
memory usage: 214.7+ KB

In [21]:
for col in data_df.columns:
    missing_data = data_df[col].isna().sum()
    missing_percent = missing_data/*100
    print(f"column: {col}")

NameError: name 'dataset' is not defined